{% extends "base.html" %}
{% load static %}

{% block content %}
    <body>
        <div class="container">
            <div class="jumbotron parent">
                <div id="about-text">
                    <h2>We are Watch 2 watch.</h2>
                    <h3>Our company was established in year 2020 with the idea to promote the horology among people. We are
                        passionate about watches and we give you the opportunity to share this passion with us. In our site
                        you can find valuable information about many watch brands and their most famous models, as well as
                        many watch enthusiasts and their stories.<p>Enjoy!</p>
                    </h3>
                </div>
            </div>
        </div>
    </body>
{% endblock %}